.text{
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    padding-right: 1.5rem;
    padding-left: 1.5rem;
}

.text-2{
    padding-right: 1.5rem;
    padding-left: 1.5rem;
}

h3{
    font-size: 1.2rem;    
}

hr{
    margin: 2rem auto;
    color:white;
}

html, body{
    background-color: black;
    line-height: 1;
}

.container{
    background-color: black;
    position: relative;
    margin-top: 10rem;
    margin-bottom: 10rem;
    padding-top: 0.7rem;
    padding-bottom: 0.7rem;
    text-align: center;
    border-color:white;
}

.list-group-item{
    font-size: 1.2rem;
    border-color:white;
}

.footer-linkL{
    margin-right: 25px;
    text-decoration: solid;
    color:white;
}

.footer-linkG{
    text-decoration: solid;
    color:white;
}

p{
    margin-top: 25px;
}